body{
    background-image: linear-gradient(45deg,red,black);
    color: aliceblue;
}
section
{
    border:solid 2px aliceblue;
    padding: 15px;
    text-align: center;
}
.video
{
    text-align: center;
    
}